In [ ]:
#Given a list, write a Python program to swap first and last element of the list
~~~Examples: 

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3,98,90,67]
Output :  [67, 2, 3,98,90,1]
    ~~~~

In [20]:
def swap_first_last(inputlist):
    #size=len(inputlist)
    #temp=inputlist[0]
    #inputlist[0]=inputlist[-1]
    #inputlist[-1]=temp
    inputlist[0], inputlist[-1] = inputlist[-1], inputlist[0]
    return inputlist

inputlist=[1, 2, 3,98,90,67]
print(swap_first_last(inputlist))

[67, 2, 3, 98, 90, 1]

In [ ]:
#Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.
 

~~~Examples:  

Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
Output : [1, 5, 3, 4, 2]
    ~~~

In [23]:
def swap_element(inputlist):
    inputlist[1],inputlist[-1]= inputlist[-1],inputlist[1]
    return(inputlist)

inputlist=[1, 2, 3, 4, 5]
print(swap_element(inputlist))

[1, 5, 3, 4, 2]

In [41]:
def num_in_list(newlist):
    i=6

    if i in newlist:
        return ("yess")
    else:
        return ("no")
        
newlist =[ 1, 6, 3, 5, 3, 4 ]  
print(num_in_list(newlist))

yess

In [ ]:
#reversing the list

In [47]:
def rev_list(newlist):
    
    revlist=newlist.reverse()
    return newlist

newlist=[ 1, 6, 3, 5, 3, 4 ] 
print(rev_list(newlist))

[4, 3, 5, 3, 6, 1]

In [49]:
copy_list=newlist.copy()
copy_list

[4, 3, 5, 3, 6, 1]

In [51]:
#count occurance in list
newlist=[ 1, 6, 3, 5, 3, 4,4,5,24 ] 
newlist.count(4)

2

In [64]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
       
    return count
 
 

lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 10
print('{} has occurred {} times'.format(x,countX(lst, x)))

10 has occurred 2 times

In [85]:
#sum and avg in list

def sum_list(lst):
    count = 0
    for i in lst:
        count += i
        
        avg=count/len(lst)
  
    return count , avg
 

lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]   
print(sum_list(lst))

(86, 9.555555555555555)

In [90]:
#product of all element in list

def pro_list(lst):
    product=1
    for i in lst:
        product *=i
    return product
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]   
print(pro_list(lst))

393216000

In [91]:
#find second largest number from list
def sec_largest(lst):
    lst.sort()
    return lst[-2]
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8] 
print(sec_largest(lst))

10

In [92]:
#even and odd number from list
def even_odd(lst):
    even=[]
    odd=[]
    for i in lst:
        if i%2 ==0:
            even.append(i)
        else:
            odd.append(i)
    return even , odd    
lst = [3, 6, 8, 13, 5, 20, 10, 9, 8] 
print(even_odd(lst))

([6, 8, 20, 10, 8], [3, 13, 5, 9])

In [94]:
def even_odd_count(lst):
    even=[]
    odd=[]
    for i in lst:
        if i%2 ==0:
            even.append(i)
            even_count=len(even)
        else:
            odd.append(i)
            odd_count=len(odd)
    return even_count , odd_count
lst = [3, 6, 8, 13, 5, 20, 10, 9, 8] 
print(even_odd_count(lst))

(5, 4)

In [95]:
#remove empty tuple from list

def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples
 

tuples = [(), ('ram','16','8'), (), ('laxman', 'sita'),
          ('krishna', 'salimr', '45'), ('',''),()]
print(Remove(tuples))

[('ram', '16', '8'), ('laxman', 'sita'), ('krishna', 'salimr', '45'), ('', '')]

In [109]:
#dublicate element in list
from collections import Counter
 
l1 = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(l1)
print(d)

Counter({1: 4, 2: 3, 5: 2, 9: 2, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1})